<!DOCTYPE html>
<html>
<head>
  <title>EmailMarketting</title>

  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application"%>
  <!-- <link href="/assets/bootstrap.min.css" rel="stylesheet"> -->
  <link href="/assets/style.css" rel="stylesheet">
  <link href="/assets/tab.css" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/favico.ico">

  <!-- <link href="/assets/font-awesome.min.css" rel="stylesheet"> -->
  <!-- <link href="/assets/build.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" type="text/css" href="/assets/wysihtml5/bootstrap-wysihtml5.css"></link> -->
  <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
  <!--<script src="/assets/wysihtml5/wysihtml5-0.3.0.js"></script>
  <script src="/assets/wysihtml5/jquery-1.9.1.js"></script>
  <script src="/assets/wysihtml5/bootstrap.min.js"></script>
  <script src="/assets/wysihtml5/bootstrap-wysihtml5.js"></script>
   -->
  <%= javascript_include_tag "bootstrap-wysihtml5", "bootstrap-wysihtml5/locales/de-DE", "bootstrap-wysihtml5/locales/fr-FR", "underscore", params[:controller] %>
</head>
<body>
  <%= render :partial => '/layouts/header' %>
  <div id="form_tab"  class="container">
    <ul class="nav nav-pills">
      <% OpportunityGenerator.languages.keys.each do |language| %>
        <%= content_tag(:li, link_to(language.titleize, language_email_templates_path(language)), class: (@language == language ? 'active' : '')) %>
      <% end %>
    </ul>
    <div class="tab-content clearfix">
      <div class="tab-pane active" id="1b">
        <div class="row">
          <div class="tab_form_wrapper col-md-12">
          <%= render partial: "shared/flash_messages", flash: flash %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= render partial: "shared/error_template" %>
</body>
</html>
